@using AirplanePlanner.Models;

<h1>To Do List</h1>
<h2>City: @Model["selectedCity"].GetDescription()</h2>
<hr />
@if (@Model["cityFlights"].Count != 0)
{
  <h4>This city has these flights:</h4>
  <ul>
    @foreach (Flight flight in @Model["cityFlights"])
    {
      <li>@flight.GetName()</li>
    }
  </ul>
}
<h4>Add a flight to this city:</h4>
<form action='/cities/@Model["selectedCity"].GetId()/flights/new' method='post'>
  <label for='flight-id'>Select a flight</label>
  <select id='flight-id' name='flight-id' type='text'>
    @foreach (var flight in @Model["allFlights"])
    {
      <option value='@flight.GetId()'>@flight.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page.</a></p>
