@using AirplanePlanner.Models;

<h1>To Do List</h1>
<h2>Flight: @Model["selectedFlight"].GetName()</h2>
<hr />
@if (@Model["flightCities"].Count != 0)
{
  <h4>Here are all the cities in this flight:</h4>
  <ul>
    @foreach (var city in @Model["flightCities"])
    {
      <li>@city.GetDescription()</li>
    }
  </ul>
}
<h4>Add a city to this flight:</h4>
<form action='/flights/@Model["selectedFlight"].GetId()/cities/new' method='post'>
  <label for='city-id'>Select a city</label>
  <select id='city-id' name='city-id' type='text'>
    @foreach (var city in @Model["allCities"])
    {
      <option value='@city.GetId()'>@city.GetDescription()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
